@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-bg: #111111;
  --surface: #222222;
  --main-txt: #e6e6fa;
  --txt-low-contrast: #a5a5a5;

  --gray: #a5a5a5;
  --red: #f42c25;
  --light-blue: #53c6b6;
  --sand: #FFA589;
  --teal: #24a889;
  --blue: #4693b9;
  --purple: #4B0082;
  --purple-pink: #ec136a;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0; margin: 0;
  background-color: var(--main-bg);
  color: var(--main-txt);
  font-family: 'Poppins', Helvetica, sans-serif;
}

header {
  background-color: var(--surface);
  padding: 18px;
  font-size: 1.5rem;
  font-weight: bold;
}

header, .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.logo-container {
  width: fit-content;
  cursor: pointer;
}

button {
  border-radius: 8px;
  padding: 10px 30px;
  font: inherit;
  font-weight: 500;
}

button.filled {
  border: none;
  color: var(--surface);
}

button.outlined {
  border: 2px solid var(--sand);
  color: var(--sand);
  background: none;
}

label {
  display: inline-block;
  padding-right: 12px;
  width: 120px;
}

input {
  width: 220px;
  font: inherit;
  font-size: 0.9em;
}

input[type='text'] {
  appearance: none;
  border: none;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.1);
  outline: none;
  padding: 4px 8px;
  color: var(--main-txt);
}

input[type='text']:focus {
  border-bottom: 2px solid var(--main-txt);
}

nav, main {
  margin: 32px min(5vw, 48px);
}

nav span {
  cursor: pointer;
  font-weight: bold;
  padding: 0 24px;
  position: relative;
  font-size: 1.2rem;
}

nav span:first-child {
  padding-left: 0;
}

nav span:not(:first-child)::before {
  content: '/';
  position: absolute;
  left: 0;
}

main.dashboard {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(240px, 1fr) );
  gap: 24px;
}

.folder.card {
  display: flex;
  flex-direction: column;
}

.folder .icons {
  align-self: flex-end;
  margin-top: auto;
}

.icons ion-icon {
  font-size: 24px;
  color: var(--txt-low-contrast);
  transition: all 180ms ease-in-out;
}

.icons :hover {
  color: var(--main-txt);
  scale: 1.1;
}

.new-folder {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 12px;
}

.new-folder ion-icon {
  font-size: 2.5rem;
  --ionicon-stroke-width: 42px;
}

.new-folder .subtitle {
  margin-bottom: 6px;
}

.new-task {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--txt-low-contrast);
}

.new-task ion-icon {
  --ionicon-stroke-width: 42px;
}

.dashboard .card {
  height: 180px;
}

#task-list .card {
  margin: 24px max(10vw, 24px);;
}

.card {
  background-color: var(--surface);
  border-radius: 24px;
  padding: 24px 32px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 6px 6px 6px rgba(0,0,0,0.6);
}

.card .title {
  margin: 0;
}

.card .subtitle {
  color: var(--txt-low-contrast);
}

.task .tags {
  display: flex;
  gap: 6px;
  margin-top: 12px;
}

.small-badge {
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.8rem;
  width: fit-content;
  color: var(--main-bg);
}

.due-date {
  margin-top: 12px;
}

.priority {
  display: inline-flex;
  align-items: center;
}

.priority :nth-child(1){
  padding-left: 6px;
}

.modal.background {
  position: fixed;
  left: 0; top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(1px);
  display: grid;
  place-content: center;
}


.modal.foreground {
  background-color: var(--surface);
  border-radius: 48px;
  width: clamp(280px, 60vw, 600px);
  min-height: 60vh;
  padding: 48px 10%;

  display: grid;
  grid-template-rows: 1fr auto;
}

.modal .content {
  place-self: center;
  margin-bottom: 20px;
}

.modal .content > div {
  margin-bottom: 12px;
}

.modal .actions {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.modal button.confirm {
  flex: 2;
  background-color: var(--sand);
}

.modal button.cancel {
  flex: 1;
}