@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-bg: #111111;
  --surface: #222222;
  --main-txt: #e6e6fa;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0; margin: 0;
  background-color: var(--main-bg);
  color: var(--main-txt);
  font-family: 'Poppins', Helvetica, sans-serif;
}

header {
  background-color: var(--surface);
  padding: 18px;
  font-size: 1.5rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

nav, main {
  margin: 32px 48px;
}

nav span {
  cursor: pointer;
  font-weight: bold;
  padding: 0 24px;
  position: relative;
  font-size: 1.2rem;
}

nav span:first-child {
  padding-left: 0;
}

nav span:not(:first-child)::before {
  content: '/';
  position: absolute;
  left: 0;
}

main {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(240px, 1fr) );
  gap: 24px;
}

.folder-card {
  background-color: var(--surface);
  border-radius: 24px;
  height: 180px;
  padding: 24px 32px;
}

.folder-card h3 {
  margin: 0;
}